.wh-30 {
    width: 30px;
    height: 30px;
}

.fs-14px {
    font-size: 16px;
}


.buymore:before {
    content: "";
    width: 8px;
    height: 8px;
    border-top: 1px solid #288ad6;
    border-left: 1px solid #288ad6;
    display: inline-block;
    transform: rotate(-45deg);
    vertical-align: middle;
    margin: 0 3px 2px 0;
}

.see-details::after {
    content: "";
    border: 6px solid;
    border-color: #288ad6 transparent transparent transparent;
    position: absolute;
    top: 35%;
    right: 65%;
}

.minus, .plus {
    cursor: pointer;
    color: #000;
}

.minus i, .plus i{
    display: block;
    background-color: #288ad6;
    width: 12px;
    height: 2px;
    margin: 14px auto;
}

.name {
    position: absolute;
    top: 6px;
    left: 4px;
}

/* .input-box input:focus {
    border: 1px solid #dadada !important;
    box-shadow: 0 0 4px #dadada;
    outline: none;
} */



.order-first{
    overflow-y: scroll;
    max-height: 200px;
}

.order-product-item{
    margin-bottom: 20px;
    padding: 5px;
}

.order-list-product{
    overflow-y: scroll;
    max-height: 170px;

}

.order-first .order-item{
    box-shadow: 0px 0px 5px -3px #000;
    margin-bottom: 20px;
    padding: 10px;

}

.select-form {
    background: transparent;
}

/* Thanh toán */

.transfer {
    position: relative;
}

.moretransfer:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 220px;
    border-left: 2px solid #288ad6;
    border-bottom: 2px solid #288ad6;
    width: 8px;
    height: 8px;
    transform: rotate(315deg);
    cursor: pointer;
}

.btn-hover:hover {
    opacity: 0.9;
    cursor: pointer;
}


